{{#if flash.enabled}}
    {{> components/flash_tools}}
{{/if}}

<div class="frame-1">
  <div class="frame-1-1">
    <a href="/" id="logo-wrapper" class="nav-tools__logo-wrapper">
      {{#if logo}}
        <img  class="img-header" id="image-logo" src="{{logo}}" alt="{{name}}" />
      {{else}}
      <span class="header--custom-text">
          {{name}}
      </span>
      {{/if}}
    </a>
  </div>

  <div class="frame-1-2">
    <form class="frame-1-2-1" id="search-form" novalidate="">
      <input type="search" placeholder="O que você está precisando?"  id="search-input" required="" autocomplete="off"/>
    </form>
    <button  type="submit" id="nav-search-button">
      <span class=" icon-search">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 34 34" fill="none">
          <path d="M22.1117 19.8884H21.0469L20.6696 19.5245C21.9904 17.988 22.7856 15.9933 22.7856 13.8234C22.7856 8.98498 18.8636 5.06299 14.0251 5.06299C9.18664 5.06299 5.26465 8.98498 5.26465 13.8234C5.26465 18.6619 9.18664 22.5839 14.0251 22.5839C16.195 22.5839 18.1897 21.7887 19.7261 20.4679L20.09 20.8453V21.91L26.8288 28.6354L28.837 26.6272L22.1117 19.8884ZM14.0251 19.8884C10.6692 19.8884 7.96017 17.1794 7.96017 13.8234C7.96017 10.4675 10.6692 7.75851 14.0251 7.75851C17.381 7.75851 20.09 10.4675 20.09 13.8234C20.09 17.1794 17.381 19.8884 14.0251 19.8884Z" fill="#000"/>
        </svg>
      </span>
    </button>
  </div>

  <div class="frame-1-3">
    <a href="https://api.whatsapp.com/send?phone=5511947349585&text=Ol%C3%A1%21+estou+na+loja+AUTOPECASANHAIA+e+gostaria+de+mais+informa%C3%A7%C3%B5es." target="">
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24" fill="none">
        <path d="M22.9484 17.6352V22.1433C22.9486 22.4661 22.8263 22.7769 22.6062 23.013C22.3862 23.2492 22.0847 23.3931 21.7628 23.4157C21.2056 23.4539 20.7505 23.4743 20.3986 23.4743C9.1322 23.4743 0 14.3421 0 3.0757C0 2.72383 0.0191237 2.26868 0.058646 1.71155C0.0812405 1.38956 0.225126 1.08813 0.461268 0.868077C0.69741 0.648024 1.00823 0.525733 1.33101 0.525879H5.8391C5.99724 0.525719 6.14979 0.584345 6.26712 0.690369C6.38446 0.796392 6.45819 0.942243 6.474 1.09959C6.50333 1.39282 6.5301 1.62613 6.5556 1.80334C6.80897 3.57155 7.3282 5.29129 8.09569 6.90427C8.21681 7.15925 8.13776 7.46395 7.90828 7.62714L5.15702 9.59305C6.83921 13.5127 9.96286 16.6364 13.8825 18.3186L15.8459 15.5724C15.9261 15.4602 16.0432 15.3797 16.1767 15.345C16.3102 15.3103 16.4517 15.3235 16.5764 15.3824C18.1892 16.1486 19.9085 16.6665 21.6761 16.9187C21.8533 16.9442 22.0866 16.971 22.3773 17.0003C22.5344 17.0164 22.6799 17.0903 22.7857 17.2076C22.8914 17.3249 22.9486 17.4773 22.9484 17.6352Z" fill="#FFED00"/>
      </svg>
      Entre em<br>
      CONTATO
    </a>
    <a href="https://myaccount.mercadolivre.com.br/my_purchases/list?_ga=2.79216276.1275398350.1695128753-591807966.1688075860&_gl=1*9a25nn*_mshops_ga*NTkxODA3OTY2LjE2ODgwNzU4NjA.*_mshops_ga_745VNZH6QW*MTY5NTE0MzY1My4xMi4wLjE2OTUxNDM2NTMuMC4wLjA.#menu-user" target="">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
        <path d="M13.1068 13.0001C11.3658 13.0001 9.87551 12.3802 8.63577 11.1405C7.39603 9.90071 6.77615 8.41038 6.77615 6.66947C6.77615 4.92855 7.39603 3.43822 8.63577 2.19848C9.87551 0.958739 11.3658 0.338867 13.1068 0.338867C14.8477 0.338867 16.338 0.958739 17.5777 2.19848C18.8175 3.43822 19.4373 4.92855 19.4373 6.66947C19.4373 8.41038 18.8175 9.90071 17.5777 11.1405C16.338 12.3802 14.8477 13.0001 13.1068 13.0001ZM0.445557 25.6613V21.2298C0.445557 20.333 0.676624 19.5084 1.13876 18.7562C1.60089 18.0039 2.2139 17.4304 2.9778 17.0358C4.6132 16.2181 6.27498 15.6046 7.96314 15.1952C9.6513 14.7858 11.3658 14.5817 13.1068 14.5827C14.8477 14.5827 16.5622 14.7874 18.2504 15.1968C19.9385 15.6062 21.6003 16.2192 23.2357 17.0358C24.0007 17.4315 24.6142 18.0055 25.0763 18.7577C25.5385 19.51 25.769 20.3341 25.7679 21.2298V25.6613H0.445557Z" fill="#FFED00"/>
      </svg>
      Acesse sua<br>
      CONTA
    </a>
    <a href="https://myaccount.mercadolivre.com.br/my_purchases/list?_ga=2.79216276.1275398350.1695128753-591807966.1688075860&_gl=1*9a25nn*_mshops_ga*NTkxODA3OTY2LjE2ODgwNzU4NjA.*_mshops_ga_745VNZH6QW*MTY5NTE0MzY1My4xMi4wLjE2OTUxNDM2NTMuMC4wLjA.#menu-user" target="">
      <svg xmlns="http://www.w3.org/2000/svg" width="43" height="22" viewBox="0 0 43 22" fill="none">
        <path d="M7.82621 13.24C8.49016 13.24 9.0282 12.753 9.0282 12.152C9.0282 11.551 8.49016 11.0641 7.82621 11.0641C7.16227 11.0641 6.62423 11.551 6.62423 12.152C6.62423 12.753 7.16227 13.24 7.82621 13.24ZM3.9447 18.1976C3.46723 17.8282 2.03245 13.727 1.07633 11.3907C0.904104 10.9702 0.759201 10.5913 0.640427 10.2493C0.406444 10.4963 0.263916 10.817 0.263916 11.1662V18.2784C0.263916 19.0456 0.940924 19.6716 1.78897 19.6882L5.73937 19.7654C6.07906 19.7725 6.39499 19.6787 6.65392 19.5172C6.50664 19.4839 6.39737 19.4578 6.33442 19.4423C5.48875 19.2297 4.42217 18.5658 3.9447 18.1964V18.1976ZM13.1793 5.82616L13.462 6.19198C13.462 6.19198 19.238 6.06608 21.3984 6.06014C23.4283 6.06014 29.6461 6.19198 29.6461 6.19198L29.9287 5.82616H34.8756L35.6536 4.5921C35.6536 4.5921 33.5335 1.38641 32.2614 1.17737C30.9894 0.968332 24.2336 0.750977 21.5552 0.750977C18.8769 0.750977 12.1211 0.968332 10.849 1.17737C9.57693 1.38641 7.45683 4.5921 7.45683 4.5921L8.23479 5.82616H13.1817H13.1793ZM13.3207 6.81792L13.0035 6.42596H8.09108L7.8084 5.93187L7.96399 6.71815L11.2552 8.68622L13.8385 13.9265L18.4339 14.1973L21.3913 14.3042L16.6178 9.33116L14.4514 9.41193L12.614 7.09822L13.3207 7.05309V6.81673V6.81792ZM34.8982 18.289L26.1648 19.8272C25.1612 20.0041 24.1433 19.801 23.3487 19.2665C22.9294 18.9839 22.8368 18.567 23.1171 18.2225C23.3143 17.9802 23.6706 17.8056 24.0922 17.7451L34.8899 16.1844C35.5705 16.0858 36.2202 16.41 36.2202 16.8495C36.2202 17.5431 35.6584 18.156 34.9006 18.289H34.8982ZM35.2997 10.5723C37.6324 10.273 38.1621 10.0509 38.8688 9.0081C39.5755 7.96527 40.9889 8.47124 40.9889 8.47124C40.9889 8.47124 39.3807 11.6817 37.8866 12.6972C35.9886 13.9859 32.1902 13.9978 32.1902 13.9978C32.1902 13.9978 32.9681 10.8716 35.2997 10.5723ZM19.7594 19.2654C18.9648 19.7998 17.9469 20.0029 16.9433 19.8272L8.20985 18.2902C7.45208 18.1572 6.89028 17.5431 6.89028 16.8507C6.89028 16.4124 7.53878 16.087 8.22054 16.1856L19.0182 17.7451C19.4399 17.8056 19.7962 17.9802 19.9934 18.2225C20.2737 18.567 20.181 18.9839 19.7617 19.2665L19.7594 19.2654ZM4.23926 9.00928C4.94596 10.0521 5.47569 10.2742 7.8084 10.5735C10.1411 10.8728 10.9179 13.999 10.9179 13.999C10.9179 13.999 7.11951 13.9883 5.22151 12.6984C3.72735 11.6829 2.11916 8.47243 2.11916 8.47243C2.11916 8.47243 3.53256 7.96645 4.23926 9.00928ZM38.7619 17.7023C39.2216 17.3484 40.5993 13.4051 41.5186 11.1615C42.4379 8.91664 42.5793 7.90232 41.7657 7.43435C39.2893 6.00907 36.1121 6.88205 36.1121 6.88205L32.2341 8.87982L29.6092 14.1985L21.5528 14.6249L13.4965 14.1985L10.8716 8.87982L6.99361 6.88205C6.99361 6.88205 3.81643 6.00907 1.34 7.43435C0.527593 7.90232 0.668933 8.91664 1.58705 11.1615C2.50636 13.4063 3.88413 17.3484 4.34378 17.7023C4.80343 18.0574 5.82845 18.6952 6.64085 18.8995C7.45326 19.1038 16.1107 20.9828 18.2308 21.1348C19.2902 21.2109 20.4209 21.2489 21.5517 21.2489C22.6824 21.2489 23.8131 21.2109 24.8737 21.1348C26.9938 20.9816 35.6512 19.1026 36.4636 18.8995C37.2761 18.6952 38.3011 18.0574 38.7607 17.7023H38.7619ZM27.7766 7.64695L27.0853 7.16117L21.5528 6.80841L16.0216 7.16117L15.3303 7.64695L21.554 13.9491L27.7778 7.64695H27.7766ZM5.22508 4.92111L5.19657 4.94724L7.11832 6.42359L7.52572 5.87129L6.81902 4.8926L5.81538 4.41157C5.8035 4.42939 5.79281 4.44839 5.77975 4.46502L5.61703 4.67287C5.52082 4.79521 5.38186 4.88191 5.22508 4.92111ZM1.85785 4.73582C1.98494 4.86172 2.16904 4.92705 2.3567 4.91517L4.59558 4.77264C4.77968 4.76076 4.94834 4.67525 5.05523 4.53984L5.19538 4.36168C5.27021 4.26667 5.30941 4.15383 5.30941 4.03743C5.30941 3.92104 5.2714 3.81414 5.20132 3.7215L4.88895 3.30935C4.77611 3.1597 4.58964 3.06943 4.38891 3.06706L1.58943 3.03024C1.24498 3.02549 0.963491 3.27728 0.963491 3.58847V3.63598C0.963491 3.77613 1.02169 3.91035 1.12621 4.01368L1.85785 4.73582ZM35.2807 11.0652C34.6167 11.0652 34.0787 11.5522 34.0787 12.1532C34.0787 12.7542 34.6167 13.2412 35.2807 13.2412C35.9446 13.2412 36.4827 12.7542 36.4827 12.1532C36.4827 11.5522 35.9446 11.0652 35.2807 11.0652ZM42.4664 10.2505C42.3477 10.5925 42.2028 10.9702 42.0306 11.3919C41.0744 13.727 39.6408 17.8294 39.1622 18.1988C38.6847 18.5682 37.6181 19.2321 36.7725 19.4447C36.7095 19.4601 36.6002 19.4863 36.453 19.5195C36.7131 19.6811 37.0278 19.7749 37.3675 19.7678L41.3179 19.6906C42.1648 19.6739 42.843 19.048 42.843 18.2807V11.1686C42.843 10.8194 42.7004 10.4987 42.4664 10.2517V10.2505ZM29.2684 13.9289L31.8505 8.6886L35.1417 6.72052L35.2973 5.93424L35.0146 6.42834H30.1021L29.785 6.82029V7.05665L30.4917 7.10178L28.6543 9.41549L26.4879 9.33472L21.7156 14.3078L24.673 14.2009L29.2684 13.9301V13.9289ZM35.9886 6.42478L37.9103 4.94842L37.8818 4.92229C37.725 4.8831 37.5861 4.79639 37.4898 4.67406L37.3271 4.46621C37.3141 4.44958 37.3034 4.43057 37.2915 4.41276L36.2879 4.89379L35.5812 5.87248L35.9886 6.42478ZM38.0516 4.53984C38.1585 4.67525 38.3272 4.76076 38.5113 4.77264L40.7502 4.91517C40.9378 4.92705 41.1219 4.86053 41.249 4.73582L41.9807 4.01368C42.0852 3.91035 42.1434 3.77613 42.1434 3.63598V3.58847C42.1434 3.27728 41.8619 3.02549 41.5174 3.03024L38.718 3.06706C38.5172 3.06943 38.3308 3.1597 38.2179 3.30935L37.9056 3.7215C37.8355 3.81414 37.7975 3.9246 37.7975 4.03743C37.7975 4.15027 37.8379 4.26667 37.9115 4.36168L38.0516 4.53984Z" fill="#FFED00"/>
      </svg>
      Acesse seu<br>
      CARRINHO
    </a>
  </div>
</div>
<div class="line-gradient"></div>
<nav class="frame-2 dropdown">
  <a class="nav-link active" aria-current="page" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/pecas-carros-caminhonetes/motor/motor-completo/#applied_filter_id%3Dcategory%26applied_filter_name%3DCategorias%26applied_filter_order%3D3%26applied_value_id%3DMLB47133%26applied_value_name%3DMotor+completo%26applied_value_order%3D13%26applied_value_results%3D324%26is_custom%3Dfalse" target="">
    MOTOR COMPLETO
  </a>
  <a class="nav-link" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/pecas-carros-caminhonetes/transmissao/cambios/caixa-cambio/" target="">
    CAIXA DE CÂMBIO
  </a>
  <a class="nav-link" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/pecas-carros-caminhonetes/injecao/" target="">
    INJEÇÃO
  </a>
  <a class="nav-link" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/pecas-carros-caminhonetes/iluminacao/" target="">
    ILUMINAÇÃO
  </a>
  <a class="nav-link" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/pecas-carros-caminhonetes/carroceria/portas-paineis/#applied_filter_id%3Dcategory%26applied_filter_name%3DCategorias%26applied_filter_order%3D2%26applied_value_id%3DMLB439487%26applied_value_name%3DPortas+e+Pain%C3%A9is%26applied_value_order%3D13%26applied_value_results%3D505%26is_custom%3Dfalse%26view_more_flag%3Dtrue">
    CARROCERIA
  </a>
  <a class="nav-link" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/">
    OUTROS ACESSÓRIOS
  </a>
</nav>


{{!-- Mobile --}}

<header class="frame-1-mobile">
  <div class="frame-1-1-mobile">
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 54 42" fill="none">
        <path d="M0 3C0 1.34315 1.34315 0 3 0H51C52.6569 0 54 1.34315 54 3C54 4.65685 52.6569 6 51 6H3C1.34315 6 0 4.65685 0 3Z" fill="white"/>
        <path d="M0 21C0 19.3431 1.34315 18 3 18H51C52.6569 18 54 19.3431 54 21C54 22.6569 52.6569 24 51 24H3C1.34315 24 0 22.6569 0 21Z" fill="white"/>
        <path d="M0 39C0 37.3431 1.34315 36 3 36H51C52.6569 36 54 37.3431 54 39C54 40.6569 52.6569 42 51 42H3C1.34315 42 0 40.6569 0 39Z" fill="white"/>
      </svg>
    </button>
  </div>

  <div class="frame-1-2-mobile">
    <a href="/" id="logo-wrapper" class="nav-tools__logo-wrapper">
      {{#if logo}}
        <img  class="img-header" id="image-logo" src="{{logo}}" alt="{{name}}" />
      {{else}}
      <span class="header--custom-text">
          {{name}}
      </span>
      {{/if}}
    </a>
  </div>

  <div class="frame-1-3-mobile">
  <a href="https://api.whatsapp.com/send?phone=5511947349585&text=Ol%C3%A1%21+estou+na+loja+AUTOPECASANHAIA+e+gostaria+de+mais+informa%C3%A7%C3%B5es." target="">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 23 24" fill="none">
      <path d="M22.9484 17.6352V22.1433C22.9486 22.4661 22.8263 22.7769 22.6062 23.013C22.3862 23.2492 22.0847 23.3931 21.7628 23.4157C21.2056 23.4539 20.7505 23.4743 20.3986 23.4743C9.1322 23.4743 0 14.3421 0 3.0757C0 2.72383 0.0191237 2.26868 0.058646 1.71155C0.0812405 1.38956 0.225126 1.08813 0.461268 0.868077C0.69741 0.648024 1.00823 0.525733 1.33101 0.525879H5.8391C5.99724 0.525719 6.14979 0.584345 6.26712 0.690369C6.38446 0.796392 6.45819 0.942243 6.474 1.09959C6.50333 1.39282 6.5301 1.62613 6.5556 1.80334C6.80897 3.57155 7.3282 5.29129 8.09569 6.90427C8.21681 7.15925 8.13776 7.46395 7.90828 7.62714L5.15702 9.59305C6.83921 13.5127 9.96286 16.6364 13.8825 18.3186L15.8459 15.5724C15.9261 15.4602 16.0432 15.3797 16.1767 15.345C16.3102 15.3103 16.4517 15.3235 16.5764 15.3824C18.1892 16.1486 19.9085 16.6665 21.6761 16.9187C21.8533 16.9442 22.0866 16.971 22.3773 17.0003C22.5344 17.0164 22.6799 17.0903 22.7857 17.2076C22.8914 17.3249 22.9486 17.4773 22.9484 17.6352Z" fill="url(#paint0_linear_204_284)"/>
      <defs>
        <linearGradient id="paint0_linear_204_284" x1="11.4748" y1="0.525879" x2="11.4748" y2="23.4743" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FFED00"/>
          <stop offset="0.510417" stop-color="#FFF9AD"/>
          <stop offset="1" stop-color="#FFED00"/>
        </linearGradient>
      </defs>
    </svg>
    CONTATO
  </a>
  <a href="https://myaccount.mercadolivre.com.br/my_purchases/list?_ga=2.79216276.1275398350.1695128753-591807966.1688075860&_gl=1*9a25nn*_mshops_ga*NTkxODA3OTY2LjE2ODgwNzU4NjA.*_mshops_ga_745VNZH6QW*MTY5NTE0MzY1My4xMi4wLjE2OTUxNDM2NTMuMC4wLjA.#menu-user" target="">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 26 26" fill="none">
      <path d="M13.1068 13.0001C11.3658 13.0001 9.87551 12.3802 8.63577 11.1405C7.39603 9.90071 6.77615 8.41038 6.77615 6.66947C6.77615 4.92855 7.39603 3.43822 8.63577 2.19848C9.87551 0.958739 11.3658 0.338867 13.1068 0.338867C14.8477 0.338867 16.338 0.958739 17.5777 2.19848C18.8175 3.43822 19.4373 4.92855 19.4373 6.66947C19.4373 8.41038 18.8175 9.90071 17.5777 11.1405C16.338 12.3802 14.8477 13.0001 13.1068 13.0001ZM0.445557 25.6613V21.2298C0.445557 20.333 0.676624 19.5084 1.13876 18.7562C1.60089 18.0039 2.2139 17.4304 2.9778 17.0358C4.6132 16.2181 6.27498 15.6046 7.96314 15.1952C9.6513 14.7858 11.3658 14.5817 13.1068 14.5827C14.8477 14.5827 16.5622 14.7874 18.2504 15.1968C19.9385 15.6062 21.6003 16.2192 23.2357 17.0358C24.0007 17.4315 24.6142 18.0055 25.0763 18.7577C25.5385 19.51 25.769 20.3341 25.7679 21.2298V25.6613H0.445557Z" fill="url(#paint0_linear_204_306)"/>
      <defs>
        <linearGradient id="paint0_linear_204_306" x1="13.1068" y1="0.338867" x2="13.1068" y2="25.6613" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FFED00"/>
          <stop offset="0.494792" stop-color="#FFF9AD"/>
          <stop offset="1" stop-color="#FFED00"/>
        </linearGradient>
      </defs>
    </svg>
    CONTA
  </a>
  <a href="https://myaccount.mercadolivre.com.br/my_purchases/list?_ga=2.79216276.1275398350.1695128753-591807966.1688075860&_gl=1*9a25nn*_mshops_ga*NTkxODA3OTY2LjE2ODgwNzU4NjA.*_mshops_ga_745VNZH6QW*MTY5NTE0MzY1My4xMi4wLjE2OTUxNDM2NTMuMC4wLjA.#menu-user" target="">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 43 22" fill="none">
      <path d="M7.82621 13.24C8.49016 13.24 9.0282 12.753 9.0282 12.152C9.0282 11.551 8.49016 11.0641 7.82621 11.0641C7.16227 11.0641 6.62423 11.551 6.62423 12.152C6.62423 12.753 7.16227 13.24 7.82621 13.24ZM3.9447 18.1976C3.46723 17.8282 2.03245 13.727 1.07633 11.3907C0.904104 10.9702 0.759201 10.5913 0.640427 10.2493C0.406444 10.4963 0.263916 10.817 0.263916 11.1662V18.2784C0.263916 19.0456 0.940924 19.6716 1.78897 19.6882L5.73937 19.7654C6.07906 19.7725 6.39499 19.6787 6.65392 19.5172C6.50664 19.4839 6.39737 19.4578 6.33442 19.4423C5.48875 19.2297 4.42217 18.5658 3.9447 18.1964V18.1976ZM13.1793 5.82616L13.462 6.19198C13.462 6.19198 19.238 6.06608 21.3984 6.06014C23.4283 6.06014 29.6461 6.19198 29.6461 6.19198L29.9287 5.82616H34.8756L35.6536 4.5921C35.6536 4.5921 33.5335 1.38641 32.2614 1.17737C30.9894 0.968332 24.2336 0.750977 21.5552 0.750977C18.8769 0.750977 12.1211 0.968332 10.849 1.17737C9.57693 1.38641 7.45683 4.5921 7.45683 4.5921L8.23479 5.82616H13.1817H13.1793ZM13.3207 6.81792L13.0035 6.42596H8.09108L7.8084 5.93187L7.96399 6.71815L11.2552 8.68622L13.8385 13.9265L18.4339 14.1973L21.3913 14.3042L16.6178 9.33116L14.4514 9.41193L12.614 7.09822L13.3207 7.05309V6.81673V6.81792ZM34.8982 18.289L26.1648 19.8272C25.1612 20.0041 24.1433 19.801 23.3487 19.2665C22.9294 18.9839 22.8368 18.567 23.1171 18.2225C23.3143 17.9802 23.6706 17.8056 24.0922 17.7451L34.8899 16.1844C35.5705 16.0858 36.2202 16.41 36.2202 16.8495C36.2202 17.5431 35.6584 18.156 34.9006 18.289H34.8982ZM35.2997 10.5723C37.6324 10.273 38.1621 10.0509 38.8688 9.0081C39.5755 7.96527 40.9889 8.47124 40.9889 8.47124C40.9889 8.47124 39.3807 11.6817 37.8866 12.6972C35.9886 13.9859 32.1902 13.9978 32.1902 13.9978C32.1902 13.9978 32.9681 10.8716 35.2997 10.5723ZM19.7594 19.2654C18.9648 19.7998 17.9469 20.0029 16.9433 19.8272L8.20985 18.2902C7.45208 18.1572 6.89028 17.5431 6.89028 16.8507C6.89028 16.4124 7.53878 16.087 8.22054 16.1856L19.0182 17.7451C19.4399 17.8056 19.7962 17.9802 19.9934 18.2225C20.2737 18.567 20.181 18.9839 19.7617 19.2665L19.7594 19.2654ZM4.23926 9.00928C4.94596 10.0521 5.47569 10.2742 7.8084 10.5735C10.1411 10.8728 10.9179 13.999 10.9179 13.999C10.9179 13.999 7.11951 13.9883 5.22151 12.6984C3.72735 11.6829 2.11916 8.47243 2.11916 8.47243C2.11916 8.47243 3.53256 7.96645 4.23926 9.00928ZM38.7619 17.7023C39.2216 17.3484 40.5993 13.4051 41.5186 11.1615C42.4379 8.91664 42.5793 7.90232 41.7657 7.43435C39.2893 6.00907 36.1121 6.88205 36.1121 6.88205L32.2341 8.87982L29.6092 14.1985L21.5528 14.6249L13.4965 14.1985L10.8716 8.87982L6.99361 6.88205C6.99361 6.88205 3.81643 6.00907 1.34 7.43435C0.527593 7.90232 0.668933 8.91664 1.58705 11.1615C2.50636 13.4063 3.88413 17.3484 4.34378 17.7023C4.80343 18.0574 5.82845 18.6952 6.64085 18.8995C7.45326 19.1038 16.1107 20.9828 18.2308 21.1348C19.2902 21.2109 20.4209 21.2489 21.5517 21.2489C22.6824 21.2489 23.8131 21.2109 24.8737 21.1348C26.9938 20.9816 35.6512 19.1026 36.4636 18.8995C37.2761 18.6952 38.3011 18.0574 38.7607 17.7023H38.7619ZM27.7766 7.64695L27.0853 7.16117L21.5528 6.80841L16.0216 7.16117L15.3303 7.64695L21.554 13.9491L27.7778 7.64695H27.7766ZM5.22508 4.92111L5.19657 4.94724L7.11832 6.42359L7.52572 5.87129L6.81902 4.8926L5.81538 4.41157C5.8035 4.42939 5.79281 4.44839 5.77975 4.46502L5.61703 4.67287C5.52082 4.79521 5.38186 4.88191 5.22508 4.92111ZM1.85785 4.73582C1.98494 4.86172 2.16904 4.92705 2.3567 4.91517L4.59558 4.77264C4.77968 4.76076 4.94834 4.67525 5.05523 4.53984L5.19538 4.36168C5.27021 4.26667 5.30941 4.15383 5.30941 4.03743C5.30941 3.92104 5.2714 3.81414 5.20132 3.7215L4.88895 3.30935C4.77611 3.1597 4.58964 3.06943 4.38891 3.06706L1.58943 3.03024C1.24498 3.02549 0.963491 3.27728 0.963491 3.58847V3.63598C0.963491 3.77613 1.02169 3.91035 1.12621 4.01368L1.85785 4.73582ZM35.2807 11.0652C34.6167 11.0652 34.0787 11.5522 34.0787 12.1532C34.0787 12.7542 34.6167 13.2412 35.2807 13.2412C35.9446 13.2412 36.4827 12.7542 36.4827 12.1532C36.4827 11.5522 35.9446 11.0652 35.2807 11.0652ZM42.4664 10.2505C42.3477 10.5925 42.2028 10.9702 42.0306 11.3919C41.0744 13.727 39.6408 17.8294 39.1622 18.1988C38.6847 18.5682 37.6181 19.2321 36.7725 19.4447C36.7095 19.4601 36.6002 19.4863 36.453 19.5195C36.7131 19.6811 37.0278 19.7749 37.3675 19.7678L41.3179 19.6906C42.1648 19.6739 42.843 19.048 42.843 18.2807V11.1686C42.843 10.8194 42.7004 10.4987 42.4664 10.2517V10.2505ZM29.2684 13.9289L31.8505 8.6886L35.1417 6.72052L35.2973 5.93424L35.0146 6.42834H30.1021L29.785 6.82029V7.05665L30.4917 7.10178L28.6543 9.41549L26.4879 9.33472L21.7156 14.3078L24.673 14.2009L29.2684 13.9301V13.9289ZM35.9886 6.42478L37.9103 4.94842L37.8818 4.92229C37.725 4.8831 37.5861 4.79639 37.4898 4.67406L37.3271 4.46621C37.3141 4.44958 37.3034 4.43057 37.2915 4.41276L36.2879 4.89379L35.5812 5.87248L35.9886 6.42478ZM38.0516 4.53984C38.1585 4.67525 38.3272 4.76076 38.5113 4.77264L40.7502 4.91517C40.9378 4.92705 41.1219 4.86053 41.249 4.73582L41.9807 4.01368C42.0852 3.91035 42.1434 3.77613 42.1434 3.63598V3.58847C42.1434 3.27728 41.8619 3.02549 41.5174 3.03024L38.718 3.06706C38.5172 3.06943 38.3308 3.1597 38.2179 3.30935L37.9056 3.7215C37.8355 3.81414 37.7975 3.9246 37.7975 4.03743C37.7975 4.15027 37.8379 4.26667 37.9115 4.36168L38.0516 4.53984Z" fill="url(#paint0_linear_204_311)"/>
      <defs>
        <linearGradient id="paint0_linear_204_311" x1="21.5534" y1="0.750977" x2="21.5534" y2="21.2489" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FFED00"/>
          <stop offset="0.505208" stop-color="#FFF9AD"/>
          <stop offset="1" stop-color="#FFED00"/>
        </linearGradient>
      </defs>
    </svg>
    CARRINHO
  </a>
</header>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button class="frame-bttn-mobile"  data-bs-dismiss="offcanvas" aria-label="Close">
      X
    </button>
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Categorias</h5>
  </div>
  <div class="offcanvas-body">
      <div class="frame-1-4-mobile">
        <form class="form-mobile" id="search-form-responsive" novalidate="">
          <input type="search" placeholder="Procurando?"  id="search-input-responsive" required="" autocomplete="off"/>
          <button  type="submit" id="nav-search-button">
            <span class=" icon-search">
              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
                <path d="M22.1117 19.8884H21.0469L20.6696 19.5245C21.9904 17.988 22.7856 15.9933 22.7856 13.8234C22.7856 8.98498 18.8636 5.06299 14.0251 5.06299C9.18664 5.06299 5.26465 8.98498 5.26465 13.8234C5.26465 18.6619 9.18664 22.5839 14.0251 22.5839C16.195 22.5839 18.1897 21.7887 19.7261 20.4679L20.09 20.8453V21.91L26.8288 28.6354L28.837 26.6272L22.1117 19.8884ZM14.0251 19.8884C10.6692 19.8884 7.96017 17.1794 7.96017 13.8234C7.96017 10.4675 10.6692 7.75851 14.0251 7.75851C17.381 7.75851 20.09 10.4675 20.09 13.8234C20.09 17.1794 17.381 19.8884 14.0251 19.8884Z" fill="white"/>
              </svg>
            </span>
          </button>
        </form>
      </div>
    <ul class="menu" aria-labelledby="dropdownMenuButton">
      <li><a class="mega-menu-item-mobile" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/pecas-carros-caminhonetes/motor/motor-completo/#applied_filter_id%3Dcategory%26applied_filter_name%3DCategorias%26applied_filter_order%3D3%26applied_value_id%3DMLB47133%26applied_value_name%3DMotor+completo%26applied_value_order%3D13%26applied_value_results%3D324%26is_custom%3Dfalse">MOTOR COMPLETO</a></li>
      <li><a class="mega-menu-item-mobile" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/pecas-carros-caminhonetes/transmissao/cambios/caixa-cambio/">CAIXA DE CÂMBIO</a></li>
      <li><a class="mega-menu-item-mobile" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/pecas-carros-caminhonetes/injecao/">INJEÇÃO</a></li>
      <li><a class="mega-menu-item-mobile" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/pecas-carros-caminhonetes/iluminacao/">ILUMINAÇÃO</a></li>
      <li><a class="mega-menu-item-mobile" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/pecas-carros-caminhonetes/carroceria/portas-paineis/#applied_filter_id%3Dcategory%26applied_filter_name%3DCategorias%26applied_filter_order%3D2%26applied_value_id%3DMLB439487%26applied_value_name%3DPortas+e+Pain%C3%A9is%26applied_value_order%3D13%26applied_value_results%3D505%26is_custom%3Dfalse%26view_more_flag%3Dtrue" >CARROCERIA</a></li>
      <li><a class="mega-menu-item-mobile" href="https://autopecasanhaia.mercadoshops.com.br/lista/acessorios-veiculos/">OUTROS ACESSÓRIOS</a></li>
    </ul>
  </div>
</div>